{% extends 'userarea/base.html' %}


{% block body %}
{% load staticfiles %}

<div class="content-wrapper">
   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">List Of All Contacts</h3>
                  <div class="box-tools pull-right">
                      <a href="{% url 'fleetxapp:contactsadd' %}">
                        <button type="submit" class="btn btn-success btn-flat">Add New Contact</button>
                      </a>
                  </div>
               </div>
               <div class="box-body table-responsive">
                  <table id="example1" class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>Contact No.</th>
                           <th>Full Name</th>                           
                           <th>E-Mail</th>
                        </tr>
                     </thead>
                     <tbody>
                      {% for object in object_list %}
                        <tr>
                           <td><a href="{% url 'fleetxapp:contactdetail' object.id%}">{{object.id}}</a></td>
                           <td>
                            <a href="{% url 'fleetxapp:contactdetail' object.id%}">{{object.full_name}}</a>
                              {% if user.id|add:0 == object.id %}
                                <span class="badge bg-blue">Me</span>
                              {% endif %}
                              {% if user.contact.is_owner %}
                                <span class="badge bg-blue">Owner</span>
                              {% endif %}
                           </td>
                           <td>{{object.email}}</td>
                        </tr>
                      {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>





{% endblock %}