{% extends 'userarea/base.html' %}
{% load widget_tweaks %}


{% block body %}
{% load staticfiles %}

      <div class="content-wrapper">
        <section class="content container-fluid">
		  <div class="row">
		    <div class="col-md-12">
		        <form action="" method="post" class="form-horizontal">      
		        <div class="box box-success">
		          <div class="box-header with-border">
		            <h3 class="box-title">{{page_title}}</h3>
		          </div>
		          <div class="box-body">

		              {% if form_success %}
		              <div class="callout callout-success">
		                <p>Saved</p>
		              </div>
		              {% endif %}

		              {% if form.non_field_errors %}
		                <div class="callout callout-danger">
		                    {% for error in form.non_field_errors %}
		                      {{ error }}<br />
		                    {% endfor %}
		                </div>
		              {% endif %}

		              {% csrf_token %}
		              {% for field in form.visible_fields %}
		                    <div class="form-group {% if field.errors %}has-error{% endif %}">
		                      <label class="col-sm-2 control-label">{{ field.label }}: </label>
		                      <div class="col-sm-10">
		                        {% if field.name == "email_notifications" %}
		                          {% render_field field %}
		                        {% else %}
		                          {% render_field field class+="form-control" %}
		                        {% endif %}
		                        {% if field.errors %}
		                            <span class="help-block">{% for error in field.errors %}{{ error }}{% endfor %}</span>
		                        {% endif %}                    
		                      </div>
		                    </div>
		              {% endfor %}

		          </div>
		          <div class="box-footer">
		            <button type="submit" class="btn btn-info pull-right">Save</button>
		          </div>
		        </div>
		        </form>
		    </div>
		  </div>


	      <div class="row">
	         <div class="col-md-12">
	            <div class="box box-success">
	               <div class="box-header with-border">
	                  <h3 class="box-title">Vehicle Models</h3>
	               </div>
	               <div class="box-body table-responsive">
	                  <table class="table table-bordered table-hover">
	                     <thead>
	                        <tr>
	                           <th>Vehicle Make</th>
	                           <th>Vehicle Model</th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                      {% for object in object_list %}
	                        <tr>
	                           <td>{{object.vehicle_make.vehicle_make}}</td>
	                           <td>{{object.vehicle_model}}</td>
	                        </tr>
	                      {% endfor %}
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	         </div>
	      </div>

          </section>
      </div>





{% endblock %}