{% load staticfiles %}

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>FleetX - Fleet Management & Maintenance Software</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{% static 'fleetxwebsite/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'fleetxwebsite/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'fleetxwebsite/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'fleetxwebsite/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'fleetxwebsite/css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'fleetxwebsite/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'fleetxwebsite/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'fleetxwebsite/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113970380-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-113970380-1');
      </script>
   </head>
   <body data-smooth-scroll-offset="77">
        <section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bar__module">
                            <span class="type--fade">FleetX - Fleet Management & Maintenance Software</span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-left-xs text-left-sm">
                      Email: hello@fleetxhq.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone : +91 - 9999799833
                    </div>
                </div>
            </div>
          </section>

      <div class="nav-container">
         <div class="via-1517153369128" via="via-1517153369128" vio="Services">
            <div class="bar bar--sm visible-xs">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-3 col-sm-2">
                        <a href="/">
                              <h2><font color="#e89b3e"><b>FleetX</b></font></h2>
                        </a>
                     </div>
                     <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                     </div>
                  </div>
               </div>
            </div>
            <nav id="menu1" class="bar bar-1 hidden-xs">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-2 hidden-xs col-md-1">
                        <div class="bar__module">
                           <a href="">
                              <h2><font color="#e89b3e"><b>FleetX</b></font></h2>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                           <ul class="menu-horizontal text-left">
                              <li> <a href="about">About Us<br></a> </li>
                              <li> <a href="contact">Contact<br></a> </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </div>
      <div class="main-container pad">
          <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h1>Everything you need to manage your fleet,whether you have 10 or 10,000 vehicles</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Life-Jacket color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Improve Productivity</b> - Stop relying on multiple spreadsheets and piles of paperwork to manage your fleet. FleetX gives you quick access to your fleet data when you need it.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>

                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Clock-Back color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Preventative Maintenance</b> - Maintain detailed service history. Streamline fleet maintenance processes with FleetX and never let preventative maintenance, routine inspections or repairs slip through the cracks again.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Duplicate-Window color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Reduce vehicle downtime</b> - Forecast and schedule regular service tasks and inspections. Reminders and alerts help you stay on top of planned maintenance and routine inspections.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Pen color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Fuel Expense Tracking</b> - Unlock critical insights into fuel performance without laborious spreadsheets. Optimize your fleet for peak fuel efficiency.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>

                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Pantone color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Manage All Your Documents And Paperwork</b> - Get regular reminders on document renewals and service overdues based on usage and days.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Fingerprint color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        <b>Location Tracking</b> - Get the precise location of your vehicle using our driver app. No additional hardware and installation fees.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>






          <section class="text-center" style="padding-top:20px;padding-bottom:40px">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h2>Testimonials</h2>
                </div>                  
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="testimonial testimonial-2">
                            <div class="testimonial__body boxed boxed--border bg--secondary">
                                <p>
                                    "Why does our industry settle for software that looks like software from two decades ago? FleetX raises the bar.""
                                </p>
                            </div>
                            <div class="testimonial__image">
                                <img alt="Image" src="{% static 'fleetxwebsite/img/avatar-round-3.png' %}" />
                                <h5>Boyle Transportation</h5>
                                <span>Atlanta, US</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="testimonial testimonial-2">
                            <div class="testimonial__body boxed boxed--border bg--secondary">
                                <p>
                                    "I'd recommend FleetX Manage to anyone looking for a cost-effective, simple, cloud-based solution that their entire employee base can use."
                                </p>
                            </div>
                            <div class="testimonial__image">
                                <img alt="Image" src="{% static 'fleetxwebsite/img/avatar-round-3.png' %}" />
                                <h5>Robert S.</h5>
                                <span>Brisbane, AU</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="testimonial testimonial-2">
                            <div class="testimonial__body boxed boxed--border bg--secondary">
                                <p>
                                    "Just the right mix of ease of use and features availability. We don't have a full time fleet manager, so we needed something that several people could use without spending hours learning another software program."
                                </p>
                            </div>
                            <div class="testimonial__image">
                                <img alt="Image" src="{% static 'fleetxwebsite/img/avatar-round-3.png' %}" />
                                <h5>Gabby V.</h5>
                                <span>Sydney, AU</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>





         <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            {% if thank_you %}
                            <h1>Thank You</h1>
                            {% else %}
                            <h1>Book A Free Demo Today</h1>
                            {% endif %}

                            {% if not thank_you %}
                            <form action="/" method="POST">
                              {% csrf_token %}
                                <div class="col-sm-3">
                                    <input class="validate-required" type="text" name="name" placeholder="Your Name" />
                                </div>
                                <div class="col-sm-3">
                                    <input class="validate-required validate-email" type="text" name="phone" placeholder="Phone Number" />
                                </div>
                                <div class="col-sm-3">
                                    <input class="validate-required validate-email" type="text" name="fleet_size" placeholder="Fleet Size" />
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn--primary type--uppercase">Call Me</button>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                </div>
                            </form>
                            {% endif %}

                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>





         <footer class="text-center-xs space--xs bg--dark">
            <div class="container">
               <div class="row">
                  <div class="col-sm-7">

                     <ul class="list-inline">
                        <li>
                           <a href="about">
                           <span class="h6 type--uppercase">About</span>
                           </a>
                        </li>
                        <li>
                           <a href="contact">
                           <span class="h6 type--uppercase">Contact</span>
                           </a>
                        </li>
                        <!--
                        <li>
                           <a href="contact">
                           <span class="h6 type--uppercase">Support</span>
                           </a>
                        </li> -->
                     </ul>


                  </div>
                  <div class="col-sm-5 text-right text-center-xs">
                     <ul class="social-list list-inline list--hover">
                        <li>
                           <a href="https://twitter.com/growthxhq" target="_blank">
                           <i class="socicon socicon-twitter icon icon--xs"></i>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.facebook.com/growthxhq/" target="_blank">
                           <i class="socicon socicon-facebook icon icon--xs"></i>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.instagram.com/growthxhq/" target="_blank">
                           <i class="socicon socicon-instagram icon icon--xs"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-7">
                     <span class="type--fine-print">&copy;
                     <span class="update-year"></span> FleetX Software Pvt. Ltd..</span>
                     <a class="type--fine-print" href="#">Privacy Policy</a>
                     <a class="type--fine-print" href="#">Legal</a>
                  </div>
                  <div class="col-sm-5 text-right text-center-xs">
                     <a class="type--fine-print" href="mailto:hello@fleetxhq.com">hello@fleetxhq.com</span></a>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script src="{% static 'fleetxwebsite/js/jquery-3.1.1.min.js' %}"></script>
      <script src="{% static 'fleetxwebsite/js/flickity.min.js' %}"></script>
      <script src="{% static 'fleetxwebsite/js/parallax.js' %}"></script>
      <script src="{% static 'fleetxwebsite/js/smooth-scroll.min.js' %}"></script>
      <script src="{% static 'fleetxwebsite/js/scripts.js' %}"></script>
   </body>
</html>