{% extends 'userarea/vehicles/vehicle_base.html' %}
{% load staticfiles %}


{% block vehiclebody %}


   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Issue Detail #{{issuedetail.id}}</h3>
                  <div class="box-tools pull-right">
                      <a href="{% url 'fleetxapp:issuesedit' issuedetail.id %}">
                        <button type="submit" class="btn btn-success btn-flat">Edit</button>
                      </a>
                  </div>
               </div>
               <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover">
                    <tr>
                       <td width="15%">Vehicle Name:</td>
                       <td><a href="{% url 'fleetxapp:vehicledetail' issuedetail.vehicle.id %}">{{issuedetail.vehicle.name}}</a></td>
                    </tr>
                    <tr>
                       <td>Reported Date:</td>
                       <td>{{issuedetail.reported_date}}</td>
                    </tr>
                    <tr>
                       <td>Reported By:</td>
                       <td>{{issuedetail.reported_by}}</td>
                    </tr>
                    <tr>
                       <td>Title:</td>
                       <td>{{issuedetail.title}}</td>
                    </tr>
                    <tr>
                       <td>Description:</td>
                       <td>{{issuedetail.description}}</td>
                    </tr>
                    <tr>
                       <td>Status:</td>
                       <td>{{issuedetail.current_status}}</td>
                    </tr>
                    <tr>
                       <td>Due Date:</td>
                       <td>{{issuedetail.due_date}}</td>
                    </tr>
                  </table>  
               </div>
            </div>
         </div>
      </div>


      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Files</h3>
                  <div class="box-tools pull-right">
                      <input type="hidden" role="uploadcare-uploader" name="content" data-public-key="40f59388915fb580a3b8"/>

                      <script type="text/javascript">
                        var singleWidget = uploadcare.SingleWidget('[role=uploadcare-uploader]');
                        singleWidget.onUploadComplete(function(info) {
                          obj = {
                            url : info.cdnUrl,
                            linked_object_type: 'Issues',
                            linked_object_id: {{issuedetail.id}},
                            name: info.name,
                            uuid: info.uuid
                          }
                          if(info.isImage){
                            obj.file_type = 'IMAGE'
                          } else {
                            obj.file_type = 'DOCUMENT'
                          }
                          $.post( "/app/fileupload/", obj).done(function(data) {
                            if(data){
                              location.reload();
                            }else{
                              alert("failed");
                            }
                          });
                        });
                      </script>
                  </div>
               </div>

              <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>No.</th>                          
                           <th>File Name</th>
                           <th>File Type</th>
                           <th>Uploaded By</th>
                           <th>Upload Date</th>
                        </tr>
                     </thead>
                     <tbody>
                      {% for f in files %}
                        <tr>
                           <td>{{f.id}}</td>
                           <td><a href="{{f.url}}" target="_blank">{{f.name}}</a></td>
                           <td>{{f.file_type}}</td>
                           <td>{{f.uploaded_by}}</td>
                           <td>{{f.upload_timestamp}}</td>
                        </tr>
                      {% endfor %}
                     </tbody>
                  </table>
              </div>
            </div>
         </div>
      </div>


      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Comments</h3>
                  <div class="box-tools pull-right">
                      <a href="{% url 'fleetxapp:commentadd' object_type='Issues' object_id=issuedetail.id %}?next={{ request.path }}">
                        <button type="submit" class="btn btn-success btn-flat">Add New Comment</button>
                      </a>
                  </div>
               </div>

              <div class="box-body table-responsive">
                <div class="timeline-body">
                  <ul class="timeline">
                      {% for p in comments %}
                      <li>
                          <i class="fa fa-envelope bg-blue"></i>
                          <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i>{{p.timestamp}}</span>
                              <h3 class="timeline-header"><a href="#">{{p.author.full_name}}</a> added a comment</h3>
                              <div class="timeline-body">
                                      {{p.comment_text}}
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                  </ul>

                </div>
              </div>
            </div>
         </div>
      </div>
   </section>


{% endblock %}