{% extends 'userarea/vehicles/vehicle_base.html' %}
{% load staticfiles %}


{% block vehiclebody %}


   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Issues</h3>
                  <div class="box-tools pull-right">
                      <a href="{% url 'fleetxapp:issuesadd' object.id%}">
                        <button type="submit" class="btn btn-success btn-flat">Add New Issue</button>
                      </a>
                  </div>
               </div>

              <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>Issue No.</th>
                           <th>Issue Title</th>                           
                           <th>Vehicle</th>
                           <th>Reported Date</th>
                           <th>Reported By</th>
                           <th>Current Status</th>
                        </tr>
                     </thead>
                     <tbody>
                      {% for object in vehicleissues %}
                        <tr>
                           <td><a href="{% url 'fleetxapp:issuedetail' object.id%}">{{object.id}}</a></td>
                           <td><a href="{% url 'fleetxapp:issuedetail' object.id%}">{{object.title}}</a></td>
                           <td><a href="{% url 'fleetxapp:vehicledetail' object.vehicle.id %}">{{object.vehicle.name}}</a></td>
                           <td>{{object.reported_date}}</td>
                           <td>{{object.reported_by.full_name}}</td>
                           <td>{{object.current_status}}</td>
                        </tr>
                      {% endfor %}
                     </tbody>
                  </table>
              </div>
            </div>

         </div>
      </div>
   </section>

{% endblock %}