{% extends 'userarea/vehicles/vehicle_base.html' %}
{% load staticfiles %}


{% block vehiclebody %}


   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
              <div class="box-body table-responsive">
                <div class="row">
                   <div class="col-md-3">
                        <font size="6" color="#00a65a">1,23,455 miles</font><br />
                        Odometer reading (<a href="#">Update</a>)
                   </div>
                   <div class="col-md-3">
                        <font size="6" color="#00a65a">$26,000</font><br />
                        Total fuel cost
                   </div>
                   <div class="col-md-3">
                        <font size="6" color="#00a65a">$47,000</font><br />
                        Total service cost
                   </div>
                   <div class="col-md-3">
                        <font size="6" color="#00a65a">5.5 miles/litre</font><br />
                        Mileage
                   </div>         
                </div>
              </div>
            </div>
         </div>
      </div>



      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Vehicle Details</h3>
                  <div class="box-tools pull-right">


                <div class="btn-group">
                  <button type="button" class="btn btn-success">Quick Add</button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'fleetxapp:commentadd' object_type='Vehicle' object_id=object.id %}?next={{ request.path }}">Comment</a></li>
                    <li><a href="{% url 'fleetxapp:vehiclerenewalremindersadd' object.id%}">Vehicle Renewal Reminder</a></li>
                    <li><a href="{% url 'fleetxapp:serviceremindersadd' object.id%}">Service Reminder</a></li>
                    <li><a href="{% url 'fleetxapp:issuesadd' object.id%}">Issue</a></li>
                    <li><a href="{% url 'fleetxapp:serviceentriesadd' object.id%}">Service Entry</a></li>
                    <li><a href="{% url 'fleetxapp:fuelentriesadd' object.id%}">Fuel Entry</a></li>
                  </ul>
                </div>


                      <a href="{% url 'fleetxapp:vehicleedit' object.id %}">
                        <button type="submit" class="btn btn-success btn-flat">Edit Vehicle Details</button>
                      </a>
                  </div>
               </div>
               <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover">
                    <tr>
                       <td>Name</td>
                       <td>{{object.name}}</td>
                    </tr>
                    <tr>
                       <td>Registration No.</td>
                       <td>{{object.registration_number}}</td>
                    </tr>
                    <tr>
                       <td>Type</td>
                       <td>{{object.vehicle_type.vehicle_type}}</td>
                    </tr>
                    <tr>
                       <td>Status</td>
                       <td>
                          <span class="badge" style="background:{{object.status.color}}">{{object.status.vehicle_status}}</span>
                       </td>
                    </tr>
                    <tr>
                       <td>Year</td>
                       <td>{{object.year}}</td>
                    </tr>
                    <tr>
                       <td>Make</td>
                       <td>{{object.make.vehicle_make}}</td>
                    </tr>
                    <tr>
                       <td>Model</td>
                       <td>{{object.model.vehicle_model}}</td>
                    </tr>
                    <tr>
                       <td>Assigned To</td>
                       <td>{{object.assigned_to.full_name}}</td>
                    </tr>
                  </table>                
               </div>
            </div>

         </div>
      </div>
   </section>


{% endblock %}