{% extends 'userarea/vehicles/vehicle_base.html' %}
{% load staticfiles %}


{% block vehiclebody %}

   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">Files</h3>
                  <div class="box-tools pull-right">
                      <input type="hidden" role="uploadcare-uploader" name="content" data-public-key="40f59388915fb580a3b8"/>

                      <script type="text/javascript">
                        var singleWidget = uploadcare.SingleWidget('[role=uploadcare-uploader]');
                        singleWidget.onUploadComplete(function(info) {
                          obj = {
                            url : info.cdnUrl,
                            linked_object_type: 'Vehicle',
                            linked_object_id: {{object.id}},
                            name: info.name,
                            uuid: info.uuid
                          }
                          if(info.isImage){
                            obj.file_type = 'IMAGE'
                          } else {
                            obj.file_type = 'DOCUMENT'
                          }
                          $.post( "/app/fileupload/", obj).done(function(data) {
                            if(data){
                              location.reload();
                            }else{
                              alert("failed");
                            }
                          });
                        });
                      </script>
                  </div>
               </div>

              <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>No.</th>                          
                           <th>File Name</th>
                           <th>File Type</th>
                           <th>Uploaded By</th>
                           <th>Upload Date</th>
                        </tr>
                     </thead>
                     <tbody>
                      {% for f in files %}
                        <tr>
                           <td>{{f.id}}</td>
                           <td><a href="{{f.url}}" target="_blank">{{f.name}}</a></td>
                           <td>{{f.file_type}}</td>
                           <td>{{f.uploaded_by}}</td>
                           <td>{{f.upload_timestamp}}</td>
                        </tr>
                      {% endfor %}
                     </tbody>
                  </table>
              </div>
            </div>
         </div>
      </div>
   </section>


{% endblock %}