{% extends 'userarea/base.html' %}


{% block body %}
{% load staticfiles %}

<div class="content-wrapper">
   <section class="content container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">List Of All Service Entries</h3>
                  <div class="box-tools pull-right">
                      <a href="{% url 'fleetxapp:serviceentriesadd' 0 %}">
                        <button type="submit" class="btn btn-success btn-flat">Add New Service Entry</button>
                      </a>
                  </div>
               </div>
               <div class="box-body table-responsive">
                  <table id="example1" class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>Entry No.</th>                           
                           <th>Vehicle</th>
                           <th>Date</th>                           
                           <th>Total Amount</th>                           
                           <th>Vendor</th>                                                      
                        </tr>
                     </thead>
                     <tbody>
                      {% for object in object_list %}
                        <tr>
                           <td><a href="{% url 'fleetxapp:serviceentrydetail' object.id%}">{{object.id}}</a></td>                           
                           <td><a href="{% url 'fleetxapp:vehicledetail' object.vehicle.id%}">{{object.vehicle.name}}</a></td>
                           <td>{{object.date}}</td>
                           <td>{{object.total_amount}}</td>
                           <td>{{object.vendor.name}}</td>
                        </tr>
                      {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>





{% endblock %}